<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126649705528-868n6n1l9dgr3ll542ifb8mpjq7aaqk4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126649705528-868n6n1l9dgr3ll542ifb8mpjq7aaqk4</string>
	<key>API_KEY</key>
	<string>AIzaSyApOIRbpNB0zMpI1yrL8mc0e1RVgt2klEA</string>
	<key>GCM_SENDER_ID</key>
	<string>126649705528</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xcodeteam.science</string>
	<key>PROJECT_ID</key>
	<string>science-2c6a7</string>
	<key>STORAGE_BUCKET</key>
	<string>science-2c6a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126649705528:ios:9629fc99f5a436fa7ab2cd</string>
</dict>
</plist>